<div class="container">
    <h1>Account Confirmation</h1>
    <p>Hi {{userName}},</p>
    <p>Please confirm your email address to activate your account:</p>
    <a href="{{confirmationLink}}">Confirm My Account</a>
    <div class="footer">
        <p>If you didn’t create an account, you can ignore this email.</p>
    </div>
</div>
